*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background: url("pics/background.png") fixed center;
    background-size: cover;
}
a {
  text-decoration: none;
}
h1{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 300%;
  color: white;
  letter-spacing: 3px;
}
h3{
  color: #4D4D4D;
}
h4{
  color: white;
  font-size: 150%;
  font-weight: 300;
}
ul{
  list-style-type: none;
}
p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #4D4D4D;
  text-decoration: none;
}
.about-me{
    /*height: 60%;*/
    width: 100%;
    min-height: 350px;
    padding-bottom: 4%;
    background-color: white;
}
.about-me-pic{
  height: 250px;
  width: auto;
  margin-right: 5%;
}
.about-me-cases{
    /*height: 60vh;*/
    width: 100%;
    margin-top: -2%;
}
.about-me-spec-case{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  height: 60%;
  width: 90%;
  margin-top: -2%;
    /*background-color: rgba(255, 255, 255, 0.75);*/
}
.about-me-flex{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2%;
}
.about-me-text{
  align-self: flex-start;
  flex-wrap: wrap;
  width: 40%;
  height: 20%;
  margin-top: 4%;
  line-height: 175%;
}
.about-me-text-case{
  align-self: flex-start;
  flex-wrap: wrap;
  width: 40%;
  height: 20%;
  line-height: 175%;
}
.arrow{
  width: 60px;
  height: 60px;
  margin-left: 40%;
  margin-bottom: 20%;
}
.arrow:hover{
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  position: relative;
  transition: .5s ease;
}
.bold{
  font-weight: bold;
}
.cases-flex{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.case{
  width: 200px;
  height: 200px;
}
.case-spec-flex{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2%;
}
.case-pic{
  height: 200px;
  width: auto;
  margin-right: 2%;
  margin-left: -5%;
  border: solid 1px white;
}
/*.case-pic:hover{
  -moz-transform: translate(0, -100px) scale(2);
  -webkit-transform: translate(0, -100px) scale(2);
  position: relative;
  transition: .5s ease;
  transform: translate(0, -100px) scale(2);
}*/
.cases{
    /*height: 60%;*/
    width: 100%;
    background-color: rgba(246, 246, 246, 1);
    min-height: 350px;
    padding-bottom: 4%;
}
.cases-img{
  width: 200px;
  height: auto;
  border: solid 1px white;
}
.cases-img:hover{
  opacity: 0.5;
  position: relative;
  transition: .5s ease;
}
.case-title{
  text-align: center;
  font-weight: bold;
}
.contacts {
    overflow: hidden;
    position: fixed;
    align-items: flex-start;
    left: 0;
    margin-left: -2%;
    margin-top: 27px;
  }
.contacts-bot{
  margin-left: 5%;
  margin-top: 5%;
  width: 90%;
}
.header{
  text-align: center;
  margin-right: 30%;
}
.header-cases{
  text-align: center;
  width: 25%;
  height: 25%;
  margin-top: 3%;
  margin-bottom: 4%;
  margin-left: -.5%;
}
.hide{
  display: none;
}
.icon{
  width: 40px;
  height: 40px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-right: 10px;
}
.icon-extra{
  height: 30px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-right: 10px;
}
.icon:hover, .icon-extra:hover{
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  position: relative;
  transition: .5s ease;
}
.light-text{
  color: white;
}
.light-title{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 3%;
  color: white;
}
.logo{
  width: 95%;
  height: 95%;
  align-items: center;
  margin-left: 3%;
}
.logo-scroll{
  width: 400px;
  height: 400px;
  align-items: center;
  margin-left: 40px;
  background-image: url("pics/logo_namn.svg");
  background-repeat: no-repeat;
}
.logo-bot{
  width: 70%;
  height: 70%;
  align-items: center;
  margin-left: 20%;
}
.nav{
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 150%;
  text-decoration: none;
  margin: 14px;
  margin-top: 10px;
  align-items: center;
  display: inline-block;
  position: relative;
}
.nav:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.nav:hover:after {
    width: 100%;
    background: white;
}
.nav-arrow{
  width: 5%;
  height: 5%;
  margin-left: 47.5%;
  margin-top: 4%;
}
.nav-cases{
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-decoration: underline;
  margin-top: -100px;
  font-size: 100%;
}
.main-nav{
    text-align: center;
}
.main-nav-cases{
    text-align: center;
    margin-left: 4%;
}
.main-nav-scrolled {
  position: fixed;
  left: 0;
  text-align: center;
  width: 91px;
  height: 100px;
  margin-left: 50px;
  font-size: 0;
  background: url("pics/logo_namn_grey.svg");
}
.main-nav-scrolled:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    margin-top: 90px;
}
.main-nav-scrolled:hover:after {
    width: 100%;
    margin-top: 90px;
    background: #4D4D4D;
}
.menu-gone{
  opacity: 0;
}
.para1 {
  background: url("pics/header.png") fixed center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column;
}
.para1-cases {
  background: url("pics/header.png") fixed center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column;
}
.para2 {
  background: url("pics/sky_test.jpg") fixed center;
  background-size: cover;
  height: 40vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.icon-para2{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.para2-contact{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.para3 {
  background: url("pics/background.png") fixed center;
  background-size: cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column;
}
.row{
  display: inline;
}
.skillset{
    /*height: 60%;*/
    width: 100%;
    min-height: 350px;
    padding-bottom: 4%;
    background-color: white;
}
.skillset-flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  margin-top: 3%;
}
.skillset-flex-basic{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  margin-top: 3%;
}
.skillset-description{
  text-align: center;
  margin-top: -2%;
}
.skillset-img{
  width: 100%;
}
.skillset-item{
  width: 150px;
  margin-top: -10px;
  margin-bottom: -30px;
}
.text-grey{
  opacity: 0;
  transition: all 0.2s;
  margin-top: -70%;
  font-family: 'Poiret One', cursive;
  font-size: 300%;
  text-align: center;
  color: #4D4D4D;
  text-shadow: .3px .3px #000000;
  pointer-events: none;
}
.text-white{
  opacity: 0;
  transition: all 0.2s;
  margin-top: -70%;
  font-family: 'Poiret One', cursive;
  font-size: 300%;
  text-align: center;
  color: white;
  text-shadow: .3px .3px #000000;
  pointer-events: none;
}
.case:hover .text-grey{
    opacity: 1;
    position: sticky;
    -moz-transform: scale(1.075);
    -webkit-transform: scale(1.075);
    transform: scale(1.075);
    transition: .5s ease;
    transition-delay: .2s;
}
.case:hover .text-white{
    opacity: 1;
    position: sticky;
    -moz-transform: scale(1.075);
    -webkit-transform: scale(1.075);
    transform: scale(1.075);
    transition: .5s ease;
    transition-delay: .2s;
}

.titles{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 3%;
  color: #4D4D4D;
}
.titles-link:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.titles-link:hover:after {
    width: 4%;
    background: #4D4D4D;
}
.titles-link{
  text-decoration: none;
}
.titles-link:visited{
  color: #4D4D4D;
}
.wrapper{
    height: 100%;
    width: 100%;
}

@media (min-width: 900px) {
        .case-pic:hover {
          -moz-transform: translate(0, -100px) scale(2);
          -webkit-transform: translate(0, -100px) scale(2);
          position: relative;
          transition: .5s ease;
          transform: translate(0, -100px) scale(2);
        }
    }
@media ( max-width: 812px ) {
    .about-me-flex{
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .about-me-text{
      width: 90vw;
      margin-left: auto;
      margin-right: auto;
      padding-top: 3%;
    }
    .about-me-text-case{
      width: 90vw;
      margin-left: auto;
      margin-right: auto;
      padding-top: 3%;
    }
    .case{
      width: 150px;
      height: 150px;
    }
    .cases-img{
      width: 150px;
      height: 150px;
    }
    .cases-flex{
      width: 300px;
    }
    .contacts{
      display: none;
    }
    .header{
      margin-top: -60%;
    }
    .header-cases{
      margin-left: 2%;
    }
    .light-title{
      padding-top: 30%;
    }
    .logo{
      width: 200px;
      height: 200px;
      margin-left: -50%;
      padding-top: 30%;
    }
    .logo-scroll{
      width: 200px;
      height: 200px;
      margin-left: 40%;
    }
    .main-nav{
      width: 320px;
      padding-top: 7%;
    }
    .nav{
      font-size: 100%;
      margin-left: 40%;
    }
    .main-nav-cases{
      width: 100px;
      height: 100px;
      margin-left: -5%;
    }
    .main-nav-scrolled {
      margin-left: -400px;
    }
    .para1 {
      background: url("pics/shadow.jpg") fixed center;
      background-size: cover;
      height: 100vh;
    }
    .para1-cases {
      background: url("pics/background.png") fixed center;
      background-size: cover;
      height: 100vh;
    }
    .skillset{
      padding-bottom: 20%;
    }
    .skillset-description{
      margin-top: 60px;
      margin-bottom: -40px;
    }
    .skillset-flex{
      justify-content: center;
      flex-direction: row;
      margin-bottom: 0;
      margin-top: 0;
      width: 80%;
    }
    .skillset-item{
      height: 50px;
      margin-top: 50px;
      margin-bottom: 50px;
    }
}
